<container class="container">
   <div class="container__texto">
      <h1 class="container__titulo">Arquitectura</h1>

  <p>En el exterior de la catedral nos encontramos dos fachadas, una de estilo románico y otra de estilo neogótico.</p>

   <p><strong><em>Fachada neorománica</em></strong></p>   
   <p>La cara sur tiene una portada de estilo neorrománico, la cual presenta tres arquivoltas de arco de medio punto sostenidas por tres columnas simples, con capiteles con motivos vegetales. En la fachada sur en el 2000 se construyó una estatua de la Virgen de los Llanos.</p>
  
  <p><strong><em>Fachada neogótica</em></strong> </p>
   
  <p>La fachada principal es de estilo neogótico y en ella se sitúa la torre del campanario, de planta cuadrada, y la portada de arco apuntado, sobre la cual se sitúa un rosetón. En el tímpano de esta portada hay un relieve con el tema del bautismo. En la plaza Virgen de los Llanos se encuentra una réplica de la Virgen de los Llanos y es en esa plaza en la procesión de mayo donde se saca a la santísima Virgen y ahí se canta el himno a la Virgen de los Llanos.</p>
   
   <p>Además en unos de los contrafuertes situados entre la bajada de San Juan y la plaza Virgen de los Llanos se encuentra un relieve de una Virgen que no se sabe qué advocación tiene        . Esa Virgen según cuenta la leyenda la esculpió un constructor musulmán de la Santa Iglesia Catedral allá por el año 1515 debido a que construyendo los contrafuertes de la catedral se cayó de los andamios y rotos sus huesos se le apareció la Virgen para sanarle, por lo que el musulmán agradeciendo a esta su ayuda, se convirtió al cristianismo y le hizo ese relieve en el contrafuerte donde se le apareció. </p>
   
   <p>En el <strong>interior</strong>, el templo presenta tres naves y tres tramos separados por cuatro elegantísimas columnas jónicas de 13,65 m de altura, quizá las más hermosas del Renacimiento español, no en balde, técnicamente fueron diseñadas por Diego de Siloé y artísticamente por Jerónimo Quijano.</p>
   <p>Los muros perimetrales son góticos con pilares adosados y capillas cubiertas con bóvedas de crucería y algunas con columnas salomónicas.</p>  
   <p>Las bóvedas de las naves, realizadas a finales del siglo XVII, son de una gran exuberancia barroca.</p>   
   
   <div class="container__image">
      <picture>
          <source type="image/webp" srcset="assets/images/image1.webp 1x"
            media="(min-width: 527px) and
            (max-width:29.99em)">
            <source srcset="assets/images/image1.png"
            media="(min-width: 528px)"
            sizes="(min-width: 528px) 33vw">
            <img src="assets/images/image1.webp" target="_blank" alt="Fachada negótica" width="307" height="227" loading="lazy"> </a>
            </picture>

   <picture>
         <source type="image/webp" srcset="assets/images/image2.webp 1x"
               media="(min-width: 527px) and
               (max-width:29.99em)">
               <source srcset="assets/images/image2.png"
               media="(min-width: 528px)"
               sizes="(min-width: 528px) 33vw">
               <img src="assets/images/image2.webp" target="_blank" alt="Fachada románica" width="320" height="180" loading="lazy"> </a>
            </picture>
  
</picture>
   </div>
</container>