
<container class="container">
   <div class="container__texto">
      <h1 class="container__titulo">Arte figurativo</h1>
    
   <p>El templo cuenta con varias capillas en las que se puede apreciar gran cantidad de arte figurativo.
      Las capillas a destacar son:
      <ul>
         <li><strong>Capilla mayor:</strong>  

         <p>Cubierta con bóveda de crucería gótica del siglo XVI. En ella se pueden admirar tres grandes vidrieras que representan a san Juan Bautista (la del centro, patrono de la ciudad), y la Visitación y el Bautismo de Jesús (las laterales).
         Estas vidrieras se construyeron en el lugar donde se encontraba un gran retablo barroco que desapareció durante la guerra civil.</li>   
            En los paños de acceso hay dos grandes cuadros originales de José María García fechados en 1862. Aunque tenían un gran marco cuando se construyeron las vidrieras, se les dio un remate ojival.
         </p>   
         </li>
         <li><strong>Capilla de la Virgen de Los Llanos:</strong>
            
           <p>La capilla absidal del lado del Evangelio –de la Virgen de los Llanos– tiene una curiosa bóveda de crucería con linterna superior además de una cúpula.</p>            Retablo renacentista
            <p>En ella podemos encontrar un bello retablo renacentista con tablas del Maestro de Albacete, pintor en la órbita de <a href="https://www.museodelprado.es/aprende/enciclopedia/voz/yaez-de-la-almedina-fernando/dbf027db-26a4-4d80-b96e-e8c28a914ae7" target="_blank">Hernando Yáñez de la Almedina</a> y <a href="https://www.museodelprado.es/coleccion/artista/llanos-fernando/00c8e9a7-0b1f-4b82-84e7-a47d0b990bb5" target="_blank"> de los Llanos</a>, que son <em>La Anunciación</em>, <em>Adoración de los Pastores</em>, <em>La Oración en el Huerto</em> y <em>la Resurrección</em>, más las representaciones de <em>Isaías y Salomón en la predella</em>.</p>
          
           
           <p>En esta capilla encontramos la imagen titular de la <em>Virgen de los Llanos</em>, patrona de Albacete, ofrece un aspecto barroco, aunque en su espalda guarda las cabezas de la Virgen y el Niño de la primitiva imagen gótica, del siglo XV, colocadas en el lugar en 1631.</p>
   
           <p>Además podemos encontrar una gran tabla del <em>Juicio de San Miguel</em> y <em>el Juicio de Almas</em>, del siglo XVI, y un monumento con el busto del primer obispo de Albacete, el cardenal Tabera y Araoz, del escultor Pérez Comendador. </li>
         </p> 
         <li>
            <p>Muchas de las capillas de la catedral tienen bóvedas estrelladas y columnas helicoidales como la <strong>capilla gótica</strong>, que se encuentra al lado de la Epístola
         En esta capilla está el enterramiento del siglo XVI del obispo Bernardo de Andújar, que fue auxiliar del de Cartagena mientras el titular (Mateo Lang) acompañaba al emperador Carlos V.</p>
        
         <p>En distintas capillas se veneran algunas obras escultóricas del imaginero valenciano José Díes López. Un grupo escultórico importante es el Santo Entierro, del murciano Juan González Moreno. Destacan tres esculturas antiguas: <strong>la Virgen de los Llanos</strong>, patrona de la ciudad de Albacete, la de la <strong>Virgen de la Estrella</strong>, que es una bella talla barroca, napolitana, de mediados del siglo XVIII esculpida por <a href="https://www.museosalzillo.es/museo/francisco-salzillo/" target="_blank">Salzillo</a>, y la <em>Virgen de la Piedad</em>, neoclásica, de inicios del siglo XIX, atribuida al catalán <a href="https://dbe.rah.es/biografias/22902/adria-ferran-i-valles" target="_blank">Adrián Ferrán</a>, y que es una réplica de la conservada en el Monasterio de Valldemosa de Mallorca. </p>
         </li>
         <li>
            <strong>Sacristía: </strong>
               <p>situada en el ángulo noreste del edificio, se construyó en el siglo XVI, y ofrece un armónico espacio interno realizado por el cantero Juan Cubero, con artesonado plano de madera y cinco grandes grisallas murales que representan el Calvario, la Predicación del Bautista, la Magdalena ungiendo los pies a Cristo, la Consigna de las Llaves y la Conversión de San Pablo. Este conjunto pictórico es de un acentuado manierismo fechable en el último cuarto del siglo XVI; son de autor anónimo.</p>
               <p>La sacristía es la parte más bella y antigua de la catedral, donde se encuentran tesoros vivos únicos en el mundo. </p>
           
         </li>
         <li>
            <strong>Óleos de Casimiro Escribá:</strong>
            <p>En 1958 el presbítero de Ayora, Casimiro Escribá, recibió el encargo de realizar la que aún es la <a href="https://www.youtube.com/watch?v=ZD8TSHh3Z10" target="_blank"> mayor obra pictórica</a> de un solo autor en todo el mundo: una serie de óleos sobre soporte de tela de lienzo imprimado, formando así once paramentos y lunetos con una superficie total de unos 1000 metros cuadrados (por delante de la Capilla Sixtina de Roma), que posteriormente fueron adheridos a los <a href="https://es.wikipedia.org/wiki/Murales_de_Casimiro_Escrib%C3%A1" target="_blank">muros.</a>   </p>
         </li>
         </ul>
   </p>
   <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide"><img src="assets/images/image3.webp" height="auto" width="auto"></li>
          <li class="glide__slide"><img src="assets/images/image4.webp" height="auto" width="auto"></li>
          <li class="glide__slide"><img src="assets/images/image5.webp" height="auto" width="auto"></li>
          <li class="glide__slide"><img src="assets/images/image6.webp" height="auto" width="auto"></li>


        </ul>
      </div>
    
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </div>
</div>    
</container>

 

