<footer class="footer">
    <div class ="nav-collapse">
       <ul class="nav-collapse__list">
        <li class="nav-collapse__list"><a href="#historia">Historia</i></a></li>
        <li class="nav-collapse__list"><a href="#arquitectura">Arquitectura</a></li>
        <li class="nav-collapse__list"><a href="#arte_figurativo">Arte figurativo</a></li>
        <li class="nav-collapse__list"><a href="#localizacion">Localización</a></li>
        <li class="nav-collapse__list"><a href="http://www.turismocastillalamancha.es/albacete/">La ciudad</a></li>
      </ul>
</div>
       
</footer>

