<container class="container">
<div class="container__texto">
   <h1 class="container__titulo">Un poco de historia</h1>
   
<p>El origen de la catedral se remonta a un antiguo templo tardo-gótico o mudéjar dedicado a san Juan Bautista que existía en Albacete desde <strong>finales del siglo XIII</strong>, el cual sería reconvertido durante siglos en la actual Catedral de San Juan Bautista de Albacete. Pese a que el nuevo templo fue reconstruido por completo, se conserva del anterior un relieve encastrado en el muro exterior de la catedral, que representa la imagen original de la Virgen de los Llanos.
El siglo XVI y la reconstrucción</p>

<p>En los primeros años del siglo XVI la antigua parroquia mudéjar de época medieval comenzó a ser demolida desde la cabecera hacia los pies, y en su lugar se empezó a levantar la fábrica actual, en principio gótica con un gran ábside central y otros dos laterales; después, tres naves de igual altura y dos tramos; unos muros perimetrales con sus correspondientes pilares adosados; unas capillas laterales y unos grandes pilares que sostenían unas bóvedas de crucería, todo en el más estilo gótico final. Intervinieron artistas y canteros desde Enrique Egas, que vino de Toledo a tasar la obra, a otros artífices vascos (Pedro de Echevarría y Ortín Pérez).
Implicación de los grandes maestros

Sin embargo a mediados del <strong>s.XVI</strong>, en 1538, ante el alarmante estado en que se encontraba la edificación por lo atrevido de sus bóvedas y la baja calidad de la piedra empleada, se acudió al «más grande maestro que había en Castilla de fama», el burgalés <a href="https://www.biografiasyvidas.com/biografia/s/siloe_diego.htm" target="_blank"></a>Diego de Siloé</a>, maestro de la Catedral de Granada, que aconsejó la sustitución de aquellos pilares por unos nuevos soportes (columnas) que serían dibujadas por Jerónimo Quijano, maestro mayor del Obispado de Cartagena. El proceso de sustitución de unos pilares góticos por estas columnas clásicas supuso el desplome de las bóvedas de crucería y la paralización de las obras.

En estos años centrales aparecen otros artífices vascos trabajando en la construcción, como Juan de Aranguren, Pedro de Castañeda, Martín de Gazaga y Juan de Urquiaga. Hacia 1560 la obra quedaría interrumpida, pues todos los caudales se dedicarían a la construcción de la sacristía. La cubierta estaba hecha; los arcos, cerrados, pero las bóvedas no se cerrarían hasta 1690, de la mano del arquitecto de la Trasmiera, Gregorio Díaz de Palacios.</p>

<p><strong>A finales del s. XVI </strong> el obispo de la diócesis ordenó el levantamiento de un plano, hoy conservado en el Archivo Histórico Provincial de Albacete, donde se señalaba lo construido y lo que quedaba por hacer, es decir, dos columnas más y un cuarto tramo, más la fachada principal y la torre, que no llegaría a levantarse nunca.


<p>Ya en el <strong>siglo XX</strong>: el templo adquiere una nueva fachada Portal.</p>

<p>En la primera mitad del siglo XX se demolieron los últimos restos mudéjares que quedaban a los pies del templo y comenzó a levantarse la actual fachada, así como el tercer tramo, con lo que las segundas columnas quedaban exentas.</p>

<p>Durante la guerra civil, mientras se estaba levantando la fachada principal, y el tercer tramo, el templo fue saqueado y se perdieron numerosas obras artísticas, como el Gran Retablo Mayor, barroco, de inicios del siglo XVIII, donde se encontraba la Santísima Virgen de los Llanos; numerosas pinturas del siglo XVI y esculturas atribuidas a Salzillo (Dolorosa) o a sus seguidores (Jesús Nazareno, Beato Andrés Hibernón y otras).</p>

<p>En 1949, cuando se concluían las obras de la fachada, por la bula de Pío XII inter praecipua, se creó la diócesis de Albacete, erigiéndose en catedral de la nueva diócesis la antigua parroquia de San Juan Bautista.</p>

<p>En el <strong>siglo XXI</strong> comienza la restauración del edificio. Entre 2007 y 2009 el edificio de la catedral sufrió una gran restauración que consolidó la obra y recuperó en su belleza tanto las columnas como sus bóvedas. En 2014 la actual fábrica de San Juan Bautista celebró el quinto centenario de su construcción. </p>   

</div>
</container>