<container class="container">
   <div class="container__texto">
      <h1 class="container__titulo">Localización</h1>
  

   <p>La Catedral de San Juan Bautista de Albacete se encuentra enclavada en pleno centro de la capital, elevada sobre una antigua colina.</p>
   <p>La fachada principal da a la plaza de la Catedral, en la que también se encuentran la <a href="https://es.wikipedia.org/wiki/Casa_consistorial_de_Albacete" target="_blank">casa consistorial de Albacete</a> o la <a href="https://www.museocuchilleria.es/casa-de-hortelano/" target="_blank">casa de Hortelano, sede del Museo de la Cuchillería de Albacete.</a></p>
   <p>La fachada sur da a la plaza Virgen de Los Llanos </p>
</div>
</container>